body {
  font-family: 'Roboto', sans-serif;
  padding: 30px;
}

h1 {
  font-weight: 400;
  font-size: 2em;
}

a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: purple;
  margin-bottom: 10px;
  font-size: 1em;
}
